@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px

  @include respond(big-desktop) {
    font-size: 70%;
  }
  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(phone) {
    font-size: 40%;
  }
}

body {
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: $pale-blue-color;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $blue-color-dark;
  background-image: url(../images/bg-desktop.png);
  background-repeat: no-repeat;
  background-position: bottom;

  @include respond(phone) {
    background-image: url(../images/bg-mobile.png);
    background-position: center;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    // border: 2px solid green;

    width: 62vw;
    height: 25vh;

    @include respond(tab-port) {
      width: 80vw;
    }
    @include respond(phone) {
      height: 60vh;
      width: 90vw;
      flex-direction: column;
    }

    .header {
      flex-basis: 35%;
      height: 100%;

      background-color: $blue-color-light;
      border-radius: 1.5rem;
      border-top-right-radius: 9rem;

      @include respond(phone) {
        flex-basis: 50%;
        width: 100%;
      }

      &__logo {
        margin: 3rem 3rem 2rem;
        height: 5.5rem;

        @include respond(phone) {
          margin: 10% 12% 4rem;

          height: 6.5rem;
        }
      }

      &__nav {
        width: 20rem;

        display: flex;
        justify-content: space-between;

        @include respond(phone) {
          margin-left: 12%;

          width: 27rem;
        }

        &-box {
          padding: 1rem;
          background-color: $blue-color-dark;
          border-radius: 1rem;

          display: flex;
          justify-content: center;
          align-items: center;

          @include respond(phone) {
            padding: 2rem;
          }
        }

        &-box:hover {
          cursor: pointer;
        }
      }
    }

    .content {
      position: relative;
      flex-basis: 60%;
      padding: 4rem;
      height: 80%;
      border-radius: 1.5rem;
      background-color: $blue-color-light;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;

      @include respond(phone) {
        flex-basis: 45%;
        width: 100%;
        font-size: 2.5rem;
      }

      &__info {
        &-used {
          font-weight: 700;
        }
      }

      &__cloud {
        position: absolute;
        padding-bottom: 2rem;
        top: -3rem;
        right: 4rem;
        background-color: #fff;
        height: 8rem;
        width: 17rem;
        border-radius: 0.8rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 43%;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 2.5em;
        font-weight: 700;

        clip-path: polygon(
          0% 0%,
          100% 0%,
          100% 75%,
          100% 75%,
          100% 100%,
          90% 75%,
          0% 75%
        );

        @include respond(phone) {
          height: 10rem;
          width: 25rem;
          top: 100%;
          left: 50%;
          padding-bottom: 1rem;
          transform: translate(-50%, -50%);
          clip-path: none;
          border-bottom-left-radius: 0;
          border-radius: 1rem;
        }

        &-value {
          color: $blue-color-dark;
          &-desc {
            font-size: 0.3em;
            color: $grayish-blue-color;
          }
        }
      }
      &__graph {
        display: flex;
        align-items: center;
        background-color: $blue-color-dark;
        border-radius: 2rem;
        width: 100%;
        height: 2rem;

        &-gradient {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-left: 0.3rem;
          height: 1.4rem;
          width: 75%;
          border-radius: 2rem;
          background: linear-gradient(to right, $orange-color, $pink-color);

          &-dot {
            height: 1.1rem;
            width: 1.1rem;
            border-radius: 10rem;
            background-color: #fff;
            margin-right: 0.2rem;
          }
        }
      }
      &__limits {
        width: 100%;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
