// FONTS

// COLORS

$blue-color-light: hsl(228, 56%, 26%);
$blue-color-dark: hsl(229, 57%, 11%);
$grayish-blue-color: hsl(229, 7%, 55%);
$pale-blue-color: hsl(243, 100%, 93%);

$orange-color: hsl(6, 100%, 80%);
$pink-color: hsl(335, 100%, 65%);
